---
layout: default
---

<div class="section section__hero">
  <div class="hero-img">
    <img src="/assets/runners.jpg" alt="Female runners competing on a track.">
  </div>
  <div class="hero-txt">
    <h1 class="main-title purple-txt">{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </div>
</div>
  
  <div class="section">
    <h1 class="purple-txt">Please Note</h1>
    <p>
      While the topics presented in this petition touch on transgender rights, we want to clear up any possible misconceptions about our stand on this before we explain our petition. We are <strong>not</strong> arguing against transgender rights in any way. While we fully support greater inclusiveness in the world of sports, this issue revolves around a person's sex, and the physical traits people are born with. Our stand is not meant to belittle people or neglect their rights.
    </p>
  </div>
  
  <hr>

  <div class="section">
    <h1 class="purple-txt">Our Stand</h1>
    <p>We believe that the recent executive order allowing transgender females to compete with the female sports team to be a decision that is damaging to the even chance that the seperate divisions in sports like running or swimming permits.</p>
    <p>We want to restore the level playing ground in sports formed by separating teams into biological male and biological female subteams.</p> 
  </div>

  <hr>

  <div class="section">
    <h1 class="purple-txt">Our Reasoning</h1>
    <p>
      People born male have a certain physical makeup of attributes typically advantageous to many sporting events. This can cause a notable difference in performance for these events, rendering many sports inherently skewed towards people born male, thus causing people born female to be forced to compete on an unlevel playing field, leading to unfair results and possibly dangerous levels of overexertion to obtain competitive results.
    </p>
    <p>These natural physical differences between the sexes cause real and noticable differences. Following are the averages of some times from olympic.org.</p>
    <div class="table-wrapper">
      {%- include table.html -%}
    </div>
    <p>As you can see, the men's division consistently outperforms women's division by a significant margin. Both divisions push themselves to perform at the height of their personal abilities. The reason for the division of the sexes (and our reason for sharing this data) is not to promote disunity, but in fact to promote unity through allowing competitors a level playing ground with others of a similar physique as their own.</p>
    <p>These differences can become great hurdles to both casual and competitive females athletes. Casual athletes, especially in schools, may feel demotivated and abandon sports entirely. More competitive athletes may miss out on prestigious awards despite their great dedication to training, and wholly prevent those who may be depending on scholarships from entering expensive colleges.</p>
    <p>While most issues, this especially, are multifaceted and difficult, there is clear evidence that it is detrimental to both casual and competitive players in team sports in high school and beyond.</p>
    <p>Breaking down gender barriers and increasing inclusiveness is an important step for our society as a whole, we think it wise to reconsider this issue, where the separate dvisions allow for everyone to have a chance to compete, enjoy the sport, and have a chance to win.</p>
  </div>

  <div class="section section__purple">
    <h1>Join The Cause</h1>
    <p>We ask you to consider spending a few minutes to sign our petition at Change.org, to show your support in keeping sports fair for everyone. It is entirely free.</p>
    <a href="http://chng.it/jjpdD72RN6" target="_blank" rel="noopener noreferrer" class="btn">Sign The Petition</a>
  </div>
</div>